{#---#}
{#layout: examples#}
{#title: Signin Template#}
{#extra_css:#}
{#  - "signin.css"#}
{#body_class: "text-center"#}
{#include_js: false#}
{#---#}
{% extends 'budget/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

        {% csrf_token %}

        <div id="sign-in-widget"></div>


<script type="text/javascript">
  new OktaSignIn({
    baseUrl: 'https://nocimedhealth.okta.com',
    clientId: '0oa1xz7eoh9AIk69a357',
    redirectUri: "http://localhost:8080/authorization-code/callback",
    logo: "{% static 'img/favicon.png' %}",
    authParams: {
      issuer: "https://nocimedhealth.okta.com/oauth2/default",
      responseType: 'code',
      state: {
          'csrf_token': '{% csrf_token %}',
          'destination':"http://localhost:8080/"

      },
      display: 'page',
      scopes: ['openid', 'profile', 'email']
    }
  }).renderEl(
    { el: '#sign-in-widget' },
    function (res) {}
  );
</script>

{% endblock %}